html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(58, 124, 124);
}

.container {
    width: 100%;
    height: 30px;

}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: 130px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    margin-top: -35px;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(3, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.Witcher {
    width: fit-content;
    height: fit-content;
}

.contenedor {
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.subcontenedor {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

article {
    padding: 250px;
    margin-left: 250px;
}

.title-1 {
    color: rgb(2, 1, 1);
    margin-right: 15px;
    margin-top: 135px;
    text-align: center;
}

.descripcion {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 5px;
    padding: 40px;
}

.text {
    width: 50%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}